body
{
 background-image: url("../images/background.png"); 
 padding: 0;
 margin-left: : 50px;
 margin-right: 50px;
 overflow: hidden;
}

section 
{
 background-color: white;
 height: 400px;
 width: 500px;
 float: left;
 margin-left: 100px;
 border-color: #cccccc;
 border-width:1px;  
 border-style:solid;

}

aside
{

 background-color: white;
 height: 200px;
 width: 250px;
 float: right;
 border-color: #cccccc;
 border-width:1px;  
 border-style:solid;
 margin-right: 300px;

}

header
 {
  background-color: white;
  color:#4aaaa5;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 25px;

  border-bottom: #cccccc 6px solid;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;


 }

header h1
{
  margin-left: 75px;
  display: inline;
  width: 50%;  

}

h2
 {
  
  margin-left: 10px
    
}
 h3
{
  
  margin-left: 10px
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin-left :20px;
    margin-right:20px;
   }

  header a
  {
     color:#cccccc;
     text-decoration: none;
     font-size: 16px;
     padding-top: 20px;
     padding-bottom: 20px;
  }

  header ul
  {
    margin:0;
    padding-top: 0;
    
  }

  header li
  {
    float: left;
    display:inline;
    padding: 0 10px 0 10px; 
  }

    header nav 
    {

    float: right;
    display: inline-block;
    margin-right: 250px;  
   }

   img
   { 

    float: left;
    padding-right: 10px;
    }

 
   #F1 
  {
   position:absolute;
   top :640px;
   height:40px;  
   border-top: 5px #4aaaa5;
   text-align: center;
   background-color: #666666;
   padding: 20px 25px 20px 25px;
   border-top: #4aaaa5 6px solid;
   margin-left: 50px;
   margin-right: 50px;
   width:1330px;
  }

  div #branding
  { 
    display: inline;
   }

 aside ul
  {
    margin:0;
    padding-top: 0;
    
  }

  aside li
  {
    float: left;
    display:inline;
    padding: 0 3px 0 3px; 
  }

 form
 {
 
 margin-left: 20px;
 
 }

#top, #bottom, #left, #right
 {
  background: teal;
  position: fixed;
}
  #left, #right {
    top: 20px; bottom: 30px;
    width: 1px;
    }
    #left { left: 55px; }
    #right { right: 95px; }
  
  #top, #bottom {
    left: 55px; right: 95px;
    height: 1px;
    }
    #top { top: 20px; }
    #bottom { bottom: 30px; }